
body{
    margin: 0 auto;
    width: 1000px;
    border: 1px solid black;
    background-image:url("images/mh1.png");
}
#container{
    width: 800px;
    border: 1px solid black;
}




.left{
    float: left;|
    border: 1px solid black;
}

.right{
    float:none;
    border: 1px solid black;
    padding-right:10px;
}
.codeBlue{
    color: #70a1ef;
    font-style: italic;

}

.codeRed{
    color: #ed0712;
    font-style: italic;

}

.heading{
        /* color:#0d3b84; */
        text-decoration: underline;
        margin-bottom: 0px;

    }
}

.assingment {
    color:#0d3b84;
    text-decoration: underline;
    margin-bottom: 0px;

}
