

#container{
    margin: 0 auto;
    width: 1500px;
    border: 1px solid black;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 5px;
   width: 450px;
   text-align: left;
   border: 1px solid black;
   outline: none;
   transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
   background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
   padding: 0 18px;
   background-color: white;
   display: none;
   overflow: hidden;
}

.left{
    float: left;|
    border: 1px solid black;
}

.right{
    float:none;
    border: 1px solid black;
    padding-right:10px;
}
.codeBlue{
    color: #70a1ef;
    font-style: italic;

}

.codeRed{
    color: #ed0712;
    font-style: italic;

}

.heading{
        /* color:#0d3b84; */
        text-decoration: underline;
        margin-bottom: 0px;

    }
}

.assingment {
    color:#0d3b84;
    text-decoration: underline;
    margin-bottom: 0px;

}
